<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/admin-layout}">

<head>
<meta charset="utf-8">
<title>Sản phẩm</title>
</head>
<body>
	<div layout:fragment="main-content">
		<div class="content-wrapper">
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h2>Thêm sản phẩm</h2>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active">Add Product</li>
							</ol>
						</div>
					</div>
				</div>
			</section>
			<form th:action="@{/admin/product/add-product}"
				th:object="${product}" method="post">
				<section class="content">
					<div class="container-fluid">
						<div class="card card-default">
							<div class="card-body">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Tên sản phẩm</label> <input class="form-control"
												name="displayName" placeholder="Nhập tên sản phẩm">
										</div>

										<div class="form-group">
											<label>Giá sản phẩm</label>
											<div class="input-group">
												<div class="input-group-prepend">
													<span class="input-group-text">$</span>
												</div>
												<input type="number" class="form-control" name="price">
											</div>
										</div>

										<div class="form-group">
											<label>Số lượng sản phẩm</label> <input class="form-control"
												name="quantity" placeholder="Nhập số lượng sản phẩm">
										</div>

										<div class="form-group">
											<label>Tiền tệ</label> <select class="form-control select2"
												name="currency">
												<option value="VNĐ">VNĐ</option>
												<option value="$">Đô la</option>
											</select>
										</div>

										<div class="form-group">
											<label>Mô tả sản phẩm</label>
											<textarea class="form-control" rows="3" name="description"
												placeholder="Nhập mô tả sản phẩm..."></textarea>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Danh mục</label> <select class="form-control select2"
												name="category">
												<th:block th:each="category : ${listCategory}">
													<option th:text="${category.displayName}"
														th:value="${category.id}"></option>
												</th:block>
											</select>
										</div>
										<div class="form-group">
											<label for="exampleInputFile">File input</label>
											<div class="input-group">
												<div class="custom-file">
													<input type="file" class="custom-file-input"
														id="exampleInputFile"> <label
														class="custom-file-label" for="exampleInputFile">Choose
														file</label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card-footer">
								<div class="card-tools" style="text-align: right;">
									<button type="button" class="btn btn-tool"></button>
									<button type="submit" class="btn btn-primary">Thêm sản
										phẩm</button>
								</div>
							</div>
						</div>
					</div>
				</section>
			</form>
		</div>
	</div>
</body>
</html>