<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/admin-layout}">

<head>
<meta charset="utf-8">
<title>Danh mục</title>

<style type="text/css">
.project-actions .btn {
	min-width: 65px;
}
</style>
</head>
<body>
	<div layout:fragment="main-content">
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h2>Tất cả danh mục</h2>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active">Category</li>
							</ol>
						</div>
					</div>
				</div>
			</section>
			<section class="content">
				<div class="card">
					<div class="card-header">
						<div class="card-tools">
							<button type="button" class="btn btn-tool"></button>
							<button type="button" class="btn btn-primary" data-toggle="modal"
								data-target="#add-caregory">Thêm danh mục</button>
						</div>
					</div>
					<div class="card-body p-0">
						<table class="table table-striped projects">
							<thead>
								<tr>
									<th>ID</th>
									<th>Tên danh mục</th>
									<th>Sản phẩm</th>
									<th>Trạng thái</th>
									<th></th>
								</tr>
							</thead>
							<tbody id="categoryContainer">
								<th:block th:each="category : ${listCategory}">
									<tr th:attr="data-id=${category.id}">
										<td><p th:text="${category.id}"></p></td>
										<td><p th:text="${category.displayName}"></p></td>
										<td><p th:text="${#lists.size(category.products)}"></p></td>

										<td th:if="${category.status == true}"><span
											class="badge bg-success">active</span></td>
										<td th:if="${category.status != true}"><span
											class="badge badge-secondary">inactive</span></td>

										<td class="project-actions text-right"><a
											class="btn btn-primary btn-sm"
											th:href="@{'/admin/category/view-category/' + ${category.id}}">
												<i class="fas fa-folder"> </i> View
										</a>
											<button class="btn btn-info btn-sm edit-category"
												th:attr="data-id=${category.id}">
												<i class="fas fa-pencil-alt"></i> Edit
											</button> <a th:if="${category.status == true}"
											th:href="@{'/admin/category/toggle-status/' + ${category.id}}"
											class="btn btn-success btn-sm"><i class="fas fa-eye"></i>
												Ẩn </a> <a th:if="${category.status != true}"
											th:href="@{'/admin/category/toggle-status/' + ${category.id}}"
											class="btn btn-danger btn-sm"><i class="far fa-eye-slash"></i>
												Hiện </a></td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
				</div>
			</section>
		</div>
		<div class="modal fade" id="add-caregory">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title text-md">Thêm danh mục</h4>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>Tên danh mục</label> <input class="form-control"
								name="displayName" id="displayName"
								placeholder="Nhập tên danh mục">
						</div>
						<div class="form-group">
							<label>Trạng thái</label>
							<div class="custom-control custom-switch">
								<input type="checkbox" class="custom-control-input"
									id="customSwitch"> <label id="customSwitchLabel"
									class="custom-control-label" for="customSwitch">Ẩn</label>
							</div>
						</div>
					</div>
					<div class="modal-footer justify-content-between">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary"
							id="add-caregory-btn">Save</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="edit-caregory">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title text-md">Sửa danh mục</h4>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>Tên danh mục</label> <input class="form-control"
								name="displayName" id="displayNameEdit"
								placeholder="Nhập tên danh mục">
						</div>
						<div class="form-group">
							<label>Trạng thái</label>
							<div class="custom-control custom-switch">
								<input type="checkbox" class="custom-control-input"
									id="customSwitchEdit"> <label
									id="customSwitchEditLabel" class="custom-control-label"
									for="customSwitchEdit">Ẩn</label>
							</div>
						</div>
					</div>
					<div class="modal-footer justify-content-between">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary"
							id="edit-caregory-btn">Save</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>