<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/admin-layout}">

<head>
<meta charset="utf-8">
<title>Trang trí shop</title>
<style type="text/css">
.product-image {
	width: 200px;
	height: 150px;
	padding: 10px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-origin: content-box;
}

.project-actions .btn {
	min-width: 70px;
}

.row-disable {
	background-color: #ccc;
}
</style>
</head>
<body>
	<div layout:fragment="main-content">
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h2>Banner</h2>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active">Banner</li>
							</ol>
						</div>
					</div>
				</div>
			</section>
			<section class="content">
				<div class="card">
					<div class="card-header">
						<div class="card-tools">
							<button type="button" class="btn btn-tool"></button>
							<a href="/admin/shop/add-banner">
								<button type="button" class="btn btn-primary">Thêm
									banner</button>
							</a>
						</div>
					</div>
					<div class="card-body p-0">
						<table class="table projects">
							<thead>
								<tr>
									<th>ID</th>
									<th></th>
									<th style="text-align: center;">Hình ảnh</th>
									<th style="text-align: center;">Tiêu đề</th>
									<th style="text-align: center;">Nội dung</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<th:block th:each="advertisement : ${advertisementsList}">
									<tr data-id="${advertisement.id}"
										th:class="${advertisement.isUse == true} ? '' : 'row-disable'">
										<td><p th:text="${advertisement.id}"></p></td>

										<td th:if="${advertisement.isUse == true}"
											style="text-align: center;">
											<div>
												<i class="fas fa-chevron-circle-up btn-up"></i>
											</div>
											<div>
												<i class="fas fa-chevron-circle-down btn-down"></i>
											</div>
										</td>
										<td th:unless="${advertisement.isUse == true}"
											style="text-align: center;"></td>

										<td th:if="${#lists.size(advertisement.images) > 0}"
											class="product-image"
											th:style="'background-image: url(' + ${advertisement.images[0].linkImage} + ');'"></td>
										<td th:unless="${#lists.size(advertisement.images) > 0}"
											class="product-image"></td>

										<td><p style="text-align: center;"
												th:text="${advertisement.displayName}"></p></td>
										<td><p style="text-align: center;"
												th:text="${advertisement.content}"></p></td>

										<td class="project-actions text-right"><a
											class="btn btn-primary btn-sm"
											th:href="@{'/admin/shop/edit-banner/' + ${advertisement.id}}">
												edit </a> <a class="btn btn-info btn-sm"
											th:if="${advertisement.isUse == false}"
											th:href="@{'/admin/shop/use-banner/' + ${advertisement.id}}">
												use </a> <a class="btn btn-danger btn-sm"
											th:if="${advertisement.isUse == true}"
											th:href="@{'/admin/shop/use-banner/' + ${advertisement.id}}">
												unused </a></td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
					<div th:if="${totalPages > 1}" class="card-footer clearfix">
						<span>Tổng số sản phẩm [[${totalItems}]]</span>
						<ul class="pagination pagination-sm m-0 float-right">
							<li
								th:class="${currentPage == 1} ? 'page-item disabled' : 'page-item'">
								<a class="page-link"
								th:href="@{'/admin/product?page-number=' + ${currentPage - 1}}">&laquo;</a>
							</li>

							<li th:each="i: ${#numbers.sequence(1, totalPages)}"
								th:class="${currentPage != i} ? 'page-item' : 'page-item active'">
								<a class="page-link"
								th:href="@{'/admin/product?page-number=' + ${i}}">[[${i}]]</a>
							</li>

							<li
								th:class="${currentPage == totalPages} ? 'page-item disabled' : 'page-item'">
								<a class="page-link"
								th:href="@{'/admin/product?page-number=' + ${currentPage + 1}}">&raquo;</a>
							</li>
						</ul>
					</div>
				</div>
			</section>
		</div>
	</div>
</body>
</html>