<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/admin-layout}">

<head>
<meta charset="utf-8">
<title>Sản phẩm</title>

<style type="text/css">
.file-border {
	border-radius: 3px;
	border: 1px solid #ccc;
}

.file-border .close-btn {
	top: 0;
	right: 0;
	width: 25px;
	height: 25px;
	cursor: pointer;
	display: flex;
	font-size: 18px;
	border-radius: 50%;
	position: absolute;
	align-items: center;
	background-color: #fff;
	justify-content: center;
	box-shadow: 0 0 3px 0 #000;
	transform: translate(50%, -50%);
}

.file-border:hover .close-btn {
	box-shadow: 0 0 4px 0 #000;
}

.custom-file {
	position: relative;
}

.product-image {
	height: 150px;
	padding: 10px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-origin: content-box;
}
</style>
</head>
<body>
	<div layout:fragment="main-content">
		<div class="content-wrapper">
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h2>Sửa sản phẩm</h2>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active">Edit Product</li>
							</ol>
						</div>
					</div>
				</div>
			</section>
			<form th:action="@{/admin/product/edit-product}"
				th:object="${product}" method="post">
				<section class="content">
					<div class="container-fluid">
						<div class="card card-default">
							<div class="card-body">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Tên sản phẩm</label> <input class="form-control"
												id="displayName" name="displayName"
												placeholder="Nhập tên sản phẩm"
												th:value="${product.displayName}"> <input id="id"
												name="id" th:value="${product.id}" hidden="true">
										</div>

										<div class="form-group">
											<label>Giá sản phẩm</label>
											<div class="input-group">
												<div class="input-group-prepend">
													<span class="input-group-text">$</span>
												</div>
												<input type="number" class="form-control" name="price"
													id="price" th:value="${product.price}">
											</div>
										</div>

										<div class="form-group">
											<label>Số lượng sản phẩm</label> <input class="form-control"
												id="quantity" name="quantity"
												placeholder="Nhập số lượng sản phẩm"
												th:value="${product.quantity}">
										</div>

										<div class="form-group">
											<label>Tiền tệ</label> <select class="form-control select2"
												id="currency" name="currency">
												<option value="VNĐ">VNĐ</option>
												<option value="$">Đô la</option>
											</select>
										</div>

										<div class="form-group">
											<label>Mô tả sản phẩm</label>
											<textarea class="form-control" rows="3" name="description"
												id="description" placeholder="Nhập mô tả sản phẩm..."
												th:text="${product.description}"></textarea>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Danh mục</label> <select class="form-control select2"
												name="category" id="category">
												<th:block th:each="category : ${listCategory}">
													<option th:text="${category.displayName}"
														th:value="${category.id}"
														th:selected="${category.id == product.category.id}"></option>
												</th:block>
											</select>
										</div>
										<div class="form-group">
											<label for="exampleInputFile">File input</label>
											<div class="input-group">
												<div class="custom-file">
													<input type="file" class="custom-file-input"
														multiple="multiple" id="exampleInputFile"> <label
														class="custom-file-label" for="exampleInputFile">Choose
														file</label>
												</div>
											</div>
										</div>
										<div class="form-group" style="margin: 10px -7px;">
											<div class="input-group" id="imagesContainer">
												<div th:each="image : ${product.images}" class="col-4"
													style="margin: 10px 0;">
													<div class="custom-file file-border" style="height: unset;">
														<div class="close-btn"
															th:attr="data-id=${image.id}, data-prodId=${product.id}">
															<i class="fas fa-times"></i>
														</div>
														<div class="product-image"
															th:style="'background-image: url(' + ${image.linkImage} + ');'"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card-footer">
								<div class="card-tools" style="text-align: right;">
									<button type="button" class="btn btn-tool"></button>
									<button type="button" class="btn btn-primary" id="saveProduct">Save</button>
								</div>
							</div>
						</div>
					</div>
				</section>
			</form>
		</div>
	</div>
	<script layout:fragment="script">
		$(function() {
			let filesContainer = [];

			const handleRemove = () => {
				$("#imagesContainer .close-btn").click(function(){
					const id = $(this).data('id');
					const fileName = $(this).data('name');
					const prodId = $(this).data('prodid');
					$(this).parents('.col-4').remove();
						
					if(id){
						$.ajax({
							contentType: "application/json; charset=utf-8",
							dataType: "json",
							url: '/api/product/remove-image',
							type: "POST",
							data: JSON.stringify({
								id,
								prodId
							}) 
						})
					}
			
					if(fileName) {
						filesContainer = filesContainer.filter(file=> file.name !== fileName)
					}
				})
			}
			
			handleRemove();
			
			
			
			$("#exampleInputFile").change(function(event) {
				const { files } = event.target;
				
				const listImage = $("#imagesContainer .custom-file");
				
				if(listImage.length >= 4) {
					alert('Tối đa chỉ được 4 ảnh.')
					$("#exampleInputFile").val('');
					return;
				}
				
				if(files && files.length > 0){
					files.forEach(file => {
						const reader = new FileReader();
		
						reader.onloadstart = function(event) {
						};
		
						reader.onprogress = function(event) {
						};
		
						reader.onloadend = function(event) {
							const listImage = $("#imagesContainer .custom-file");
							
							if(listImage.length >= 4) {
								return;
							}
							
							$("#imagesContainer ").append(`
								<div class="col-4"
									style="margin: 10px 0;">
									<div class="custom-file file-border" style="height: unset;">
										<div class="close-btn" data-name="${file.name}">
											<i class="fas fa-times"></i>
										</div>
										<div class="product-image"
											style="background-image: url(${event.target.result});"></div>
									</div>
								</div>		
							`)

							const fileType = file.type.split("/")[1];
							
							const newFile = new File([file], `${new Date().getTime()}.${fileType}`, {type:file.type})
							filesContainer.push(newFile);
							handleRemove();
						};
		
						reader.readAsDataURL(file);
					})
				}
			})
			
			$("#saveProduct").click(function(){
				const body = {
					id: $("#id").val(),
					displayName: $("#displayName").val(),
					price: $("#price").val(),
					quantity: $("#quantity").val(),
					currency: $("#currency").val(),
					description: $("#description").val(),
					category: $("#category").val(),
					images: filesContainer.map((item) => item.name),
				}
				
				$.ajax({
					type: "POST",
					data: JSON.stringify(body),
					contentType: "application/json",
					url: '/api/product/edit-product',
					success: () => {
						toastr.success('Sửa thành công.')
					},
					error: () => {
						toastr.error('Sửa thất bại, đã có lỗi xảy ra.')
					}
				})
				
				if(filesContainer.length){
					const formData = new FormData();
					
					filesContainer.forEach(item => {
						formData.append("files", item);
					})
				
					$.ajax({
						url: '/uploads',
						type: "POST",
						data: formData,
			            contentType: false,
			            processData: false
					})	
				}
			})
		})
	</script>
</body>
</html>