<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/admin-layout}">

<head>
<meta charset="utf-8">
<title>Đơn hàng</title>
<style type="text/css">
.project-actions .btn {
	min-width: 65px;
}
</style>
</head>
<body>
	<div layout:fragment="main-content">
		<div class="content-wrapper">
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h2>Danh sách đơn hàng</h2>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active">Order</li>
							</ol>
						</div>
					</div>
				</div>
			</section>
			<section class="content">
				<div class="card">
					<div class="card-header">
						<div class="card-tools">
							<button type="button" class="btn btn-tool"></button>
							<a href="/admin/order/add-order">
								<button type="button" class="btn btn-primary">Tạo đơn
									hàng</button>
							</a>
						</div>
					</div>
					<div class="card-body p-0">
						<table class="table table-striped projects">
							<thead>
								<tr>
									<th>ID</th>
									<th>Số lượng sản phẩm</th>
									<th>Tổng giá trị đơn hàng</th>
									<th>Ghi chú</th>
									<th>Phương thức thanh toán</th>
									<th>Trạng thái giao hàng</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr th:if="${#lists.isEmpty(listOrder)}">
									<td>
										<p>Không có bản ghi nào</p>
									</td>
								</tr>

								<th:block th:each="order : ${listOrder}">
									<tr>
										<td><p th:text="${order.id}"></p></td>
										<td><p th:text="${#lists.size(order.orderDetails)}"></p></td>
										<td><p th:text="${order.totalPrice}"></p></td>
										<td><p th:text="${order.note}"></p></td>
										<td><p th:text="${order.payment.paymentType}"></p></td>
										<td><p th:text="${order.status}"></p></td>

										<td th:if="${order.status == true}"><span
											class="badge bg-success">active</span></td>
										<td th:if="${order.status != true}"><span
											class="badge badge-secondary">inactive</span></td>

										<td class="project-actions text-right"><a
											class="btn btn-primary btn-sm"
											href="/admin/order/view-account/${order.id}"> <i
												class="fas fa-folder"> </i> View
										</a> <a th:if="${account.status == true}"
											th:href="@{'/admin/order/toggle-status/' + ${order.id}}"
											class="btn btn-success btn-sm"><i class="fas fa-eye"></i>
												Ẩn </a> <a th:if="${account.status != true}"
											th:href="@{'/admin/account/toggle-status/' + ${order.id}}"
											class="btn btn-danger btn-sm"><i class="far fa-eye-slash"></i>
												Hiện </a></td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
				</div>
			</section>
		</div>
	</div>
</body>
</html>