<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/admin-layout}">

<head>
<meta charset="utf-8">
<title>Đơn hàng</title>
<style type="text/css">
.project-actions .btn {
	min-width: 65px;
}
</style>
</head>
<body>
	<div layout:fragment="main-content">
		<div class="content-wrapper">
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h2>Danh sách đơn hàng</h2>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active">Order</li>
							</ol>
						</div>
					</div>
				</div>
			</section>
			<section class="content">
				<div class="card">
					<div class="card-header">
						<div class="card-tools">
							<button type="button" class="btn btn-tool"></button>
							<a href="/admin/order/add-order">
								<button type="button" class="btn btn-primary">Tạo đơn
									hàng</button>
							</a>
						</div>
					</div>
					<div class="card-body p-0">
						<table class="table table-striped projects">
							<thead>
								<tr>
									<th>ID</th>
									<th style="text-align: center;">Số lượng sản phẩm</th>
									<th style="text-align: center;">Tổng giá trị đơn hàng</th>
									<th style="text-align: center;">Phương thức thanh toán</th>
									<th style="text-align: center;">Trạng thái thanh toán</th>
									<th style="text-align: center;">Trạng thái đơn hàng</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr th:if="${#lists.isEmpty(listOrder)}">
									<td>
										<p>Không có bản ghi nào</p>
									</td>
								</tr>

								<th:block th:each="order : ${listOrder}">
									<tr>
										<td><p th:text="${order.id}"></p></td>
										<td style="text-align: center;"><p
												th:text="${#lists.size(order.orderDetails)}"></p></td>
										<td style="text-align: center;"><p
												th:text="${#numbers.formatDecimal(order.totalPrice, 0, 'COMMA', 0, 'COMMA')} + ' ' + ${order.currency}"></p></td>
										<td style="text-align: center;"><p
												th:text="${order.payment.paymentType}"></p></td>

										<td
											th:if="${#strings.toString(order.paymentStatus) == 'PAID'}"
											style="text-align: center;"><span
											class="badge badge-success">PAID</span></td>
										<td
											th:if="${#strings.toString(order.paymentStatus) == 'UN_PAID'}"
											style="text-align: center;"><span
											class="badge badge-warning">UN PAID</span></td>

										<td
											th:if="${#strings.toString(order.orderStatus) == 'PENDDING'}"
											style="text-align: center;"><span
											class="badge badge-warning">PENDDING</span></td>
										<td
											th:if="${#strings.toString(order.orderStatus) == 'IN_PROGRESS'}"
											style="text-align: center;"><span
											class="badge badge-primary">IN PROGRESS</span></td>
										<td
											th:if="${#strings.toString(order.orderStatus) == 'SHIPPING'}"
											style="text-align: center;"><span
											class="badge badge-primary"> <i
												class="fas fa-shipping-fast"></i> SHIPPING
										</span></td>
										<td
											th:if="${#strings.toString(order.orderStatus) == 'COMPLETE'}"
											style="text-align: center;"><span
											class="badge badge-success">COMPLETE</span></td>
										<td
											th:if="${#strings.toString(order.orderStatus) == 'CANCELED'}"
											style="text-align: center;"><span
											class="badge badge-danger">CANCELED</span></td>


										<td class="project-actions text-right"><a
											class="btn btn-primary btn-sm"
											th:href="@{'/admin/order/view-detail/' + ${order.id}}"> <i
												class="fas fa-folder"></i> <span>Chi tiết</span>
										</a> <a
											th:if="${#strings.toString(order.orderStatus) == 'PENDDING'}"
											class="btn btn-primary btn-sm"
											th:href="@{'/admin/order/change-status?id=' + ${order.id}} + '&action=in-progress'">
												<i class="fas fa-folder"></i> <span>Xử lí</span>
										</a> <a
											th:if="${#strings.toString(order.orderStatus) == 'IN_PROGRESS'}"
											class="btn btn-primary btn-sm"
											th:href="@{'/admin/order/change-status?id=' + ${order.id}} + '&action=shipping'">
												<i class="fas fa-folder"></i> <span>Giao hàng</span>
										</a> <a
											th:if="${#strings.toString(order.orderStatus) == 'SHIPPING'}"
											class="btn btn-primary btn-sm"
											th:href="@{'/admin/order/change-status?id=' + ${order.id}} + '&action=complete'">
												<i class="fas fa-folder"></i> <span>Hoàn thành đơn</span>
										</a> <a
											th:if="${#strings.toString(order.orderStatus) != 'COMPLETE' && #strings.toString(order.orderStatus) != 'CANCELED'}"
											class="btn btn-danger btn-sm"
											th:href="@{'/admin/order/change-status?id=' + ${order.id}} + '&action=cancel'">
												<i class="fas fa-times-circle"></i> <span>Hủy đơn</span>
										</a></td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
				</div>
			</section>
		</div>
	</div>
</body>
</html>