<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>AdminLTE 3 | Dashboard</title>

<link
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700"
	rel="stylesheet">

<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

<link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css"
	th:href="@{/plugins/fontawesome-free/css/all.min.css}">

<link rel="stylesheet"
	href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

<link rel="stylesheet"
	href="/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css"
	th:href="@{/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css}">

<link rel="stylesheet"
	href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css"
	th:href="@{/plugins/icheck-bootstrap/icheck-bootstrap.min.css}">

<link rel="stylesheet" href="/plugins/jqvmap/jqvmap.min.css"
	th:href="@{/plugins/jqvmap/jqvmap.min.css}">

<link rel="stylesheet" href="/dist/css/adminlte.min.css"
	th:href="@{/dist/css/adminlte.min.css}">

<link rel="stylesheet"
	href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css"
	th:href="@{/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">

<link rel="stylesheet"
	href="/plugins/daterangepicker/daterangepicker.css"
	th:href="@{/plugins/daterangepicker/daterangepicker.css}">

<link rel="stylesheet" href="/plugins/summernote/summernote-bs4.min.css"
	th:href="@{/plugins/summernote/summernote-bs4.min.css}">

<link rel="stylesheet" href="/plugins/toastr/toastr.min.css"
	th:href="@{/plugins/toastr/toastr.min.css}">
</head>
<body>
	<div th:replace="fragments/admin-header :: header"></div>
	<div th:replace="fragments/admin-sidebar"></div>
	<main layout:fragment="main-content"></main>
	<div th:replace="~{fragments/admin-footer :: footer}"></div>

	<button type="button" class="btn btn-success toastrDefaultSuccess">
		Launch Success Toast</button>

	<script src="/plugins/jquery/jquery.min.js"
		th:href="@{/plugins/jquery/jquery.min.js}"></script>

	<script src="/plugins/jquery-ui/jquery-ui.min.js"
		th:href="@{/plugins/jquery-ui/jquery-ui.min.js}"></script>

	<script>
		$.widget.bridge('uibutton', $.ui.button)
	</script>

	<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"
		th:href="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<script src="/plugins/chart.js/Chart.min.js"
		th:href="@{/plugins/chart.js/Chart.min.js}"></script>

	<script src="/plugins/sparklines/sparkline.js"
		th:href="@{/plugins/sparklines/sparkline.js}"></script>

	<script src="/plugins/jqvmap/jquery.vmap.min.js"
		th:href="@{/plugins/jqvmap/jquery.vmap.min.js}"></script>

	<script src="/plugins/jqvmap/maps/jquery.vmap.usa.js"
		th:href="@{/plugins/jqvmap/maps/jquery.vmap.usa.js}"></script>

	<script src="/plugins/jquery-knob/jquery.knob.min.js"
		th:href="@{/plugins/jquery-knob/jquery.knob.min.js}"></script>

	<script src="/plugins/moment/moment.min.js"
		th:href="@{/plugins/moment/moment.min.js}"></script>

	<script src="/plugins/daterangepicker/daterangepicker.js"
		th:href="@{/plugins/daterangepicker/daterangepicker.js}"></script>

	<script
		src="/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"
		th:href="@{/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js}"></script>

	<script src="/plugins/summernote/summernote-bs4.min.js"
		th:href="@{/plugins/summernote/summernote-bs4.min.js}"></script>

	<script
		src="/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"
		th:href="@{/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js}"></script>

	<script src="/dist/js/adminlte.js" th:href="@{/dist/js/adminlte.js}"></script>

	<script src="/dist/js/demo.js" th:href="@{/dist/js/demo.js}"></script>

	<script src="/plugins/dropzone/min/dropzone.min.js"
		th:href="@{/plugins/dropzone/min/dropzone.min.js}"></script>

	<script src="/plugins/toastr/toastr.min.js"
		th:href="@{/plugins/toastr/toastr.min.js}"></script>

	<script>
		$(function() {
			$("#customSwitch").change(function() {
				const value = $(this).is(":checked");
				$("#customSwitchLabel").text(value ? 'Hiện' : 'Ẩn');
			})

			$("#add-caregory-btn").click(function() {
				const data = {
					displayName : $("#add-caregory #displayName").val(),
					status : $("#add-caregory #customSwitch").is(":checked")
				}

				$.ajax({
					url : "/api/category/add-category",
					type : "POST",
					data : JSON.stringify(data),
					contentType : "application/json",
					success : function(response) {
						
						$("categoryContainer").append(`
							<tr>
								<td><p></p></td>
								<td><p></p></td>
								<td><p></p></td>

								<td><span class="badge bg-success">active</span></td>
								<td><span class="badge badge-secondary">inactive</span></td>

								<td class="project-actions text-right"><a
									class="btn btn-primary btn-sm"
									href="/admin/category/view-category/${product.id}"> <i
										class="fas fa-folder"> </i> View
								</a> <a class="btn btn-info btn-sm"
									th:href="@{'/admin/category/edit-category/' + ${category.id}}">
										<i class="fas fa-pencil-alt"> </i> Edit
								</a> <a th:if="${category.status == true}"
									th:href="@{'/admin/category/toggle-status/' + ${category.id}}"
									class="btn btn-success btn-sm"><i class="fas fa-eye"></i>
										Ẩn </a> <a th:if="${category.status != true}"
									th:href="@{'/admin/category/toggle-status/' + ${category.id}}"
									class="btn btn-danger btn-sm"><i class="far fa-eye-slash"></i>
										Hiện </a></td>
							</tr>
						`)
						toastr.success('Thêm danh mục thành công.')
					},
					error : function(e) {
						toastr.error('Thêm danh mục thất bại.')
					}
				});
			})
		})
	</script>
</body>
</html>