<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="side-bar">
		<div class="col-sm-3">
			<div class="left-sidebar">
				<h2>Category</h2>
				<div class="panel-group category-products" id="accordian">

					<th:block th:each="categorye, state : ${categoryes}">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a href="#" th:text="${categorye.displayName}">Kids</a>
								</h4>
							</div>
						</div>
					</th:block>

				</div>

				<div class="brands_products">
					<!--brands_products-->
					<h2>Brands</h2>
					<div class="brands-name">
						<ul class="nav nav-pills nav-stacked">
							<li><a href="#"> <span class="pull-right">(50)</span>Acne
							</a></li>
							<li><a href="#"> <span class="pull-right">(56)</span>Grüne
									Erde
							</a></li>
							<li><a href="#"> <span class="pull-right">(27)</span>Albiro
							</a></li>
							<li><a href="#"> <span class="pull-right">(32)</span>Ronhill
							</a></li>
							<li><a href="#"> <span class="pull-right">(5)</span>Oddmolly
							</a></li>
							<li><a href="#"> <span class="pull-right">(9)</span>Boudestijn
							</a></li>
							<li><a href="#"> <span class="pull-right">(4)</span>Rösch
									creative culture
							</a></li>
						</ul>
					</div>
				</div>
				<!--/brands_products-->

				<div class="price-range">
					<!--price-range-->
					<h2>Price Range</h2>
					<div class="well text-center">
						<input type="text" class="span2" value="" data-slider-min="0"
							data-slider-max="600" data-slider-step="5"
							data-slider-value="[250,450]" id="sl2"><br /> <b
							class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
					</div>
				</div>
				<!--/price-range-->

				<div class="shipping text-center">
					<!--shipping-->
					<img src="images/home/shipping.jpg" alt="" />
				</div>
				<!--/shipping-->

			</div>
		</div>
	</div>
</body>
</html>